#container{
	display:none;
}
#loading{
	position:absolute;
	left:50%;
	top:20%;
	margin-left:-30px;
}
/* 入力項目テーブル */
#inputTable tr.holiday {
	background: #fc1150;
}
#inputTable tr.sunday {
	background: #fc1150;
}
#inputTable tr.saturday {
	background: #26a8ff;
}
#inputTable th.client,td.client {
	background-color: #c6ffdb;
}
#inputTable th.home,td.home {
	background-color: #ffd0ad;
}
